@{
    ViewBag.Title = "BookShop Inventory App";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                The aim of this project is to evaluate the efficiency and efficacy of developing Book Shop
                Inventory Management System compared to the manual method currently in use. To do this, a
                sample set of tables will be identified from those in use at a local bookshop, Fola Agoro book
                shop. The BookShop contain Books, Publishers, Orders and Customer Entities
            </p>
        </div>
    </section>
}
<h2>Group Members:</h2>
<ol>
    <li>
        Salau Abiola Adekunle 159074027
    </li>
    <li>
        Oyadipe Yinka 159074104
    </li>
    <li>
        Akinsowon Rotola 159074008
    </li>
    <li>
        Theophilus Ajayi 159074035
    </li>
    <li>
        Anthony Unakwe Okwumabua 159074161
    </li>

    <!--<li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>-->
</ol>
